body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/** video **/

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/** content **/

.content {
    position: absolute;
    top: 80%;
    left: 30px;
    width: 600px;
    text-align: left;
    color: #eee;
    transform: translate(0, -80%);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 15px;
    z-index: 1
}

.content .name {
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.name span {
    color: yellow
}

.content .info {
    color: #ffffff; 
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.info li {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}